{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/vega@6" nonce="{{ cspNonce }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-interpreter@1" nonce="{{ cspNonce }}"></script>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
