@use "govuk" as * with (
    $govuk-global-styles: true,
    $govuk-assets-path: '/assets/',
    $govuk-page-width: 1170px
);

@forward "moj/all" with (
    $moj-assets-path: $govuk-assets-path,
    $moj-page-width: $govuk-page-width
);

@use './components/header-bar';
@use './overrides/local';
