.govuk-main-wrapper {
  min-height: 600px;
}

.moj-search {
  padding-bottom: 50px;
}

#vis {
  padding-bottom: 40px;
}

.govuk-table {
  text-wrap-mode: nowrap;
}

.govuk-width-container {
  margin: 2%;
  max-width: 100%;
}
