{% extends "../partials/layout.njk" %}

{% block additionalHeaders %}
  <script src="https://cdn.jsdelivr.net/npm/vega@6" nonce="{{ cspNonce }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-interpreter@1" nonce="{{ cspNonce }}"></script>
{% endblock %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {%- from "govuk/components/table/macro.njk" import govukTable -%}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <h1 class="govuk-heading-l">UUID: {{ uuid }}</h1>

  <h2 class="govuk-heading-m">Record composition</h1>
  <div class="moj-pane">
    {{ govukTable(recordCompositionTable) }}
  </div>

  {% if displayClusterVisuals %}
  
    {{ govukInsetText({
    classes: "inset-information",
    text: "Click on the node links on the graph to display matching statistics."
  }) }}

  <div id="vis"></div>
  <script nonce="{{ cspNonce }}">
    const runtime = vega.parse({{ clusterSpec | dump | safe }}, null, { ast: true });

    view = new vega.View(runtime, {
      expr:      vega.expressionInterpreter,
      renderer:  'canvas',
      container: '#vis',
      hover:     true
    });

    view.runAsync();
  </script>

  {% endif %}

  <h2 class="govuk-heading-m">Event Log</h1>
  <div class="moj-scrollable-pane">
    {{ govukTable(eventLogTable) }}
  </div>

{% endblock %}
