{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Search</h1>

  {%- from "moj/components/search/macro.njk" import mojSearch -%}

  {{ mojSearch({
    action: "#",
    method: "post",
    input: {
      id: "search",
      name: "search"
    },
    label: {
      text: "Enter a reference number",
      classes: "govuk-!-font-weight-bold"
    },
    hint: {
      text: "You can search by a CPR UUID"
    },
    button: {
      text: "Search"
    }
  }) }}

{% endblock %}
